@font-face {
  font-family: "questrial";
  src: url(../public/font/Questrial-Regular.ttf);
}
:root {
  --primary-color: #6f55f2;
  --primary-color-2: #b5a9f3;
  --primary-color-3: #d3cef2;
  --heading-color: #132742;
  --bg-gradient: linear-gradient(
    90deg,
    rgba(103, 101, 240, 1) 27%,
    rgba(141, 141, 235, 1) 85%
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "questrial";
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  z-index: 0;
}
a {
  all: unset;
  cursor: pointer;
}
p {
  color: var(--heading-color);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.highlight {
  color: var(--primary-color);
}
